<div class="container">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %>
		</div>
		<% end %>
</div>


<h1>Page d'édition des commentaires</h1>

    <%= form_tag url_for(action: 'update'), method: "patch" do %>

      <%= label_tag 'Contenu :' %>
      <br />
      <%= text_area_tag 'content',@comment.content %>
      <br /> <br />


      <%= submit_tag "Edit Comment" %>

    <% end %>

    <p>
	<%= form_tag url_for(controller: 'comments', action: 'destroy'), method: "delete" do %>

     <%= submit_tag "Destroy Comment" %>

    <% end %></p>