<% flash.each do |key, value| %>
<div class="alert alert-danger">
	<% if @user.errors.any? %>
	  	<p>Nous n'avons pas réussi à créer ton profil pour la (ou les) raison(s) suivante(s) :</p>
		  	<ul>
			    <% @user.errors.full_messages.each do |message| %>
			      <li><%= message %></li>
			    <% end %>
		  	</ul>
	<% end %>
</div>
<% end %>


<h1>Page d'inscription</h1>
<div class="container">
<p>Merci de renseigner les champs suivants :</p>

    <%= form_tag url_for(action: 'create'), method: "post" do %>

      <%= label_tag 'Prénom :' %>
      <br />
      <%= text_field_tag 'first_name' %>
      <br /> <br />
      <%= label_tag 'Nom :' %>
      <br />
      <%= text_field_tag 'last_name' %>
      <br /> <br />
      <%= label_tag '@Email :' %>
      <br />
      <%= text_field_tag 'email' %>
      <br /> <br />
      <%= label_tag 'Password :' %>
      <br />
      <%= text_field_tag 'password' %>
      <br /> <br />
      <%= label_tag 'Description :' %>
      <br />
      <%= text_area_tag 'description', "Ajoutes ta description" %>
      <br /> <br />
      <%= label_tag 'Age :' %>
      <br />
      <%= text_field_tag 'age'%>
      <br /> <br />
      <%= label_tag 'Ville :' %>
      <br />
      <%= text_field_tag 'city'%>
      <br /> <br />

      <%= submit_tag "Create Account" %>

    <% end %>
</div>