    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %>
        </div>
      <% end %>
    </div>

<h1>Gossip #<%= params[:id] %></h1>

<h4>Titre : <%= @gossip.title %></h4>
<h4>Contenu : <%= @gossip.content %></h4>
<p>Written by <%= link_to @gossip.user.first_name, user_path(@gossip.user.id) %> the <%= @gossip.created_at %> </p>
<p>Ville : <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %></p>
<p>Tag :</p>
<% @tags.each do |table| %>
<p><%= Tag.find(table.tag_id).title %></p>
<% end %>

<p>Pour éditer le potin clique : <%= link_to "ici", edit_gossip_path(@gossip.id) %></p>
<p>Ajoute un commentaire :</p>


<%= form_tag url_for(action: 'create',controller: 'comments'), method: "post"  do %>
      <%= text_area_tag 'content' %>
      <%= hidden_field_tag(:gossip_id, @gossip.id) %>
		
      <br /> <br />
      <%= submit_tag "Create comment" %>
    <% end %>


<p>Pour effacer le potin clique :
	<%= form_tag url_for(controller: 'gossips', action: 'destroy'), method: "delete" do %>

     <%= submit_tag "Destroy Gossip" %>

    <% end %></p>



<div class='card-columns'>
	<% @comments.each do |comment| %>
		<div class="card" style="width: 18rem;">
		  <!-- <img src="..." class="card-img-top" alt="..."> -->
		  <div class="card-body">
		    <h5 class="card-title"><%= comment.content %></h5>
		    	<p>Déposé par : <%= link_to @gossip.user.first_name , user_path(comment.author.id)%> </p>
		    	<p><%= link_to "Modifier / Supprimer" , edit_comment_path(comment.id)%> </p>
		  </div>
		</div>
	 <% end %>
</div>
